.navbar-default {
    background-color: red;
    border-color: #3F51B5;
}

.h1, h1, 
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
    font-family: serif;
}

.btn-danger{
    background-color: #03A9F4;
    border-color: #3F51B5;
}